<!-- menu -->
<section id="menu">
  <div class="container">
    <div class="menu-area">
      <!-- Navbar -->
      <div class="navbar-default">
        <div class="navbar-expand-sm">
          <!-- Left nav -->
          <ul class="nav navbar-nav">
            <li><a class="nav-link" routerLink="/home">Home</a></li>
            <li>
              <a routerLink="allproducts/:page" class="nav-link">
                All Products
              </a>
            </li>
            <li class="dropdown" *ngFor="let catInfo of categoryData">
              <a class="nav-link">{{ catInfo.name }}</a>
              <div class="dropdown-menu">
                <a
                  class="dropdown-item"
                  href="#"
                  *ngFor="let subcatInfo of catInfo.subCategory"
                  >{{ subcatInfo.name }}</a
                >
              </div>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
</section>
<!-- / menu -->
