#aa-product-category .aa-product-catg-content .aa-product-catg-head {
  background-color: #f3f3f3;
  padding: 10px 15px;
  display: flow-root;
}
#aa-product-category
  .aa-product-catg-content
  .aa-product-catg-head
  .aa-product-catg-head-left {
  float: left;
}
#aa-product-category
  .aa-product-catg-content
  .aa-product-catg-head
  .aa-product-catg-head-left
  label {
  margin-bottom: 0;
  margin-right: 10px;
  font-weight: normal;
}
#aa-product-category
  .aa-product-catg-content
  .aa-product-catg-head
  .aa-product-catg-head-left
  .aa-sort-form {
  float: left;
}
#aa-product-category
  .aa-product-catg-content
  .aa-product-catg-head
  .aa-product-catg-head-left
  .aa-sort-form
  select {
  border: 1px solid #ccc;
  text-align: center;
  width: 150px;
}
#aa-product-category
  .aa-product-catg-content
  .aa-product-catg-head
  .aa-product-catg-head-left
  .aa-sort-form
  select
  option {
  padding: 4px;
}
#aa-product-category
  .aa-product-catg-content
  .aa-product-catg-head
  .aa-product-catg-head-left
  .aa-show-form {
  float: left;
  margin-left: 25px;
}
#aa-product-category
  .aa-product-catg-content
  .aa-product-catg-head
  .aa-product-catg-head-left
  .aa-show-form
  select {
  border: 1px solid #ccc;
  text-align: center;
  width: 80px;
}
#aa-product-category
  .aa-product-catg-content
  .aa-product-catg-head
  .aa-product-catg-head-left
  .aa-show-form
  select
  option {
  padding: 4px;
}
#aa-product-category
  .aa-product-catg-content
  .aa-product-catg-head
  .aa-product-catg-head-right {
  float: right;
}
#aa-product-category
  .aa-product-catg-content
  .aa-product-catg-head
  .aa-product-catg-head-right
  a {
  color: #555;
  display: inline-block;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 3px;
  padding: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#aa-product-category .aa-product-catg-content {
  padding: 30px 0 0 0;
}

ul.aa-product-catg {
  padding-left: 0px;
}
.aa-product-catg li {
  text-align: center;
  /* margin: 0 0 20px 15px; */
  /* width: 20.5%; */
  position: relative;
  overflow: hidden;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-body {
  margin-top: 30px;
}
.aa-product-catg li:hover figure .aa-product-img {
  background-color: rgba(0, 0, 0, 0.5);
}

.aa-product-catg li:hover figure .aa-add-card-btn {
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.aa-product-catg li:hover .aa-product-hvr-content {
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.aa-product-catg li figure {
  position: relative;
  /* height: 300px; */
}
.aa-product-catg li figure .aa-product-img {
  background-color: #f9f9fb;
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#aa-product-category
  .aa-product-catg-content
  .aa-product-catg-body
  .aa-product-catg
  li
  .aa-product-descrip {
  display: none;
}
ul.aa-product-catg.row.list li {
  text-align: left;
}
ul.aa-product-catg.row.list p.aa-product-descrip {
  display: block !important;
  text-align: left;
}
.aa-product-catg li figure .aa-add-card-btn {
  background: #000 none repeat scroll 0 0;
  bottom: 60px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  left: 0;
  padding: 12px 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
.aa-product-catg li figure .aa-add-card-btn span {
  margin-right: 5px;
}
.aa-product-catg li .aa-product-title {
  color: #333;
  margin-bottom: 5px;
  font-size: 12px;
  white-space: nowrap;
}
.aa-product-catg li .aa-product-title a {
  color: #333;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aa-product-catg li .aa-product-price {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 16px;
}
.aa-product-catg li .aa-product-price del {
  margin-left: 5px;
}
.aa-product-catg li .aa-product-hvr-content {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.aa-product-catg li .aa-product-hvr-content a {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
}
.aa-product-catg li .aa-badge {
  position: absolute;
  top: 5%;
  left: 15px;
  padding: 5px 10px;
  color: #fff;
  font-size: 15px;
}
.aa-product-catg li .aa-sale {
  background-color: #008000;
}
.aa-product-catg li .aa-sold-out {
  background-color: #ff0000;
}
.aa-product-catg li .aa-hot {
  background-color: #ff6600;
}
