<div class="aa-header-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-header-top-area">
          <!-- start header top left -->
          <div class="aa-header-top-left">
            <div class="cellphone hidden-xs">
              <p><span class="fa fa-phone"></span>00-62-658-658</p>
            </div>
            <!-- / cellphone -->
          </div>
          <!-- / header top left -->
          <div class="aa-header-top-right">
            <ul class="aa-head-top-nav-right">
              <!-- <li><a routerLink="/myaccount">My Account</a></li> -->
              <li><a routerLink="/myaccount">Login</a></li>
              <li><a>Wishlist</a></li>
              <li><a>My Cart</a></li>
              <li><a>Checkout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
