<!-- {{ productDetails | json }} -->
<section class="aa-product-details">
  <div class="container">
    <div class="row">
      <div class="aa-product-details-area" *ngIf="productDetails">
        <div class="aa-product-details-content">
          <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
              <img src="{{ productDetails.image }}" class="img-fluid" />
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
              <div class="aa-product-view-content">
                <h3>{{ productDetails.prodName }}</h3>
                <div class="aa-price-block">
                  <span class="aa-product-view-price">{{
                    productDetails.offerPrice
                  }}</span>
                  <p class="aa-product-avilability">
                    Avilability:
                    <span>{{
                      productDetails.isAvailable ? "In stock" : "Out of Stock"
                    }}</span>
                  </p>
                </div>
                <p>
                  {{ productDetails.description }}
                </p>

                <div class="aa-prod-quantity">
                  <form action="">
                    <select id="" name="">
                      <option selected="1" value="0">1</option>
                      <option value="1">2</option>
                      <option value="2">3</option>
                      <option value="3">4</option>
                      <option value="4">5</option>
                      <option value="5">6</option>
                    </select>
                  </form>
                  <p class="aa-prod-category">
                    Category: <a href="#">{{ productDetails.category }}</a>
                  </p>
                  <p class="aa-prod-category">
                    Sub Category:
                    <a href="#">{{ productDetails.subCategory }}</a>
                  </p>
                </div>
                <div class="aa-prod-view-bottom">
                  <a class="aa-add-to-cart-btn" href="#">Add To Cart</a>
                  <a class="aa-add-to-cart-btn" href="#">Wishlist</a>
                  <a class="aa-add-to-cart-btn" href="#">Compare</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
