.aa-product-details {
  display: inline;
  float: left;
  width: 100%;
}
.aa-product-details .aa-product-details-area {
  display: inline;
  float: left;
  padding: 30px 0 0;
  width: 100%;
}
.aa-product-details .aa-product-details-area .aa-product-details-content {
  margin: 0 auto;
  width: 80%;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-content
  .aa-product-view-slider {
  background-color: .f8f8f8;
  padding: 10px;
  text-align: center;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-content
  .aa-product-view-content {
  padding-bottom: 10px;
  padding-right: 10px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-content
  .aa-product-view-content
  .aa-prod-view-size
  a {
  border: 1px solid .ddd;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  margin-right: 8px;
  padding: 5px 10px;
  transition: all 0.5s ease 0s;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-content
  .aa-product-view-content
  .aa-prod-quantity {
  margin-top: 10px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-content
  .aa-product-view-content
  .aa-prod-quantity
  form {
  display: inline-block;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-content
  .aa-product-view-content
  .aa-prod-quantity
  form
  select {
  height: 25px;
  width: 40px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-content
  .aa-product-view-content
  .aa-prod-quantity
  .aa-prod-category {
  display: inline-block;
  margin-left: 15px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-content
  .aa-product-view-content
  .aa-prod-quantity
  .aa-prod-category
  a {
  font-size: 14px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-content
  .aa-product-view-content
  .aa-prod-view-bottom {
  border-top: 1px solid .ddd;
  margin-top: 10px;
  padding-top: 10px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-content
  .aa-product-view-content
  .aa-prod-view-bottom
  a {
  margin-right: 10px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-content
  .aa-product-view-content
  .aa-color-tag
  a {
  display: inline-block;
  height: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 30px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-content
  .aa-product-view-content
  .aa-color-tag
  .aa-color-green {
  background-color: 0.008;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-content
  .aa-product-view-content
  .aa-color-tag
  .aa-color-yellow {
  background-color: .ffff00;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-content
  .aa-product-view-content
  .aa-color-tag
  .aa-color-pink {
  background-color: .ffc0cb;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-content
  .aa-product-view-content
  .aa-color-tag
  .aa-color-black {
  background-color: 0;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-content
  .aa-product-view-content
  .aa-color-tag
  .aa-color-white {
  background-color: .fff;
  border: 1px solid .ccc;
}
.aa-product-details .aa-product-details-area .aa-product-details-bottom {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid .ccc;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .nav-tabs {
  text-align: center;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .nav-tabs
  li {
  display: inline-block;
  float: none;
  margin-bottom: 0px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .nav-tabs
  li
  a {
  border-radius: 0;
  border: none;
  font-size: 18px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .nav-tabs
  li
  a:hover,
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .nav-tabs
  li
  a:focus {
  background-color: transparent;
  border: none;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .description {
  padding: 20px 10px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .description
  ul {
  margin-bottom: 10px;
  padding-left: 25px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .description
  ul
  li {
  color: 0.555;
  list-style: outside none square;
  margin-top: 5px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .aa-product-review-area {
  display: inline;
  float: left;
  padding: 20px 0;
  width: 100%;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .aa-product-review-area
  > h4 {
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .aa-product-review-area
  .aa-review-nav
  li {
  margin-bottom: 20px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .aa-product-review-area
  .aa-review-nav
  li
  .media-object {
  display: block;
  height: 60px;
  width: 60px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .aa-product-review-area
  .aa-review-nav
  li
  .media-body {
  border: 1px solid .ccc;
  padding: 10px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .aa-product-review-area
  .aa-review-nav
  li
  .media-body
  .media-heading {
  font-size: 16px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .aa-product-review-area
  .aa-review-nav
  li
  .media-body
  .aa-product-rating
  span {
  color: .ff6600;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .aa-review-form {
  margin-top: 20px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .aa-review-form
  label {
  color: 0.555;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .aa-review-form
  textarea {
  height: 200px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .aa-review-form
  input {
  height: 45px;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .aa-review-form
  .aa-review-submit {
  border-radius: 0;
  font-size: 18px;
  height: 45px;
  text-transform: uppercase;
  width: 100%;
  color: .fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .aa-review-form
  .aa-review-submit:hover {
  background-color: 0;
  border-color: 0;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .aa-review-form
  .form-control {
  box-shadow: none;
  border-radius: 0;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-details-bottom
  .aa-review-form
  .form-control:focus {
  box-shadow: none;
}
.aa-product-details .aa-product-details-area .aa-product-related-item {
  display: inline;
  float: left;
  width: 100%;
}
.aa-product-details .aa-product-details-area .aa-product-related-item h3 {
  border-bottom: 1px solid .ccc;
  margin-bottom: 30px;
  padding-bottom: 20px;
  text-align: center;
}
.aa-product-details
  .aa-product-details-area
  .aa-product-related-item
  .slick-prev,
.aa-product-details
  .aa-product-details-area
  .aa-product-related-item
  .slick-next {
  top: -65px;
}
