<section id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-myaccount-area">
          <div class="row">
            <div class="offset-md-3 col-md-6">
              <div class="aa-myaccount-login">
                <h4>Register</h4>
                <form
                  class="aa-login-form"
                  [formGroup]="Register"
                  (ngSubmit)="Save(Register.value)"
                >
                  <div class="row">
                    <div class="form-group col-md-6">
                      First Name<span class="text-danger">*</span>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="First Name"
                        formControlName="firstName"
                        [class.is-valid]="Register.controls.firstName.valid"
                        [class.is-invalid]="
                          !Register.controls.firstName.valid && submitted
                        "
                      />
                      <div class="invalid-feedback">
                        Please Enter correct Firstname
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      Last Name<span class="text-danger">*</span>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Last Name"
                        formControlName="lastName"
                        [class.is-valid]="Register.controls.lastName.valid"
                        [class.is-invalid]="
                          !Register.controls.lastName.valid && submitted
                        "
                      />
                      <div class="invalid-feedback">
                        Please Enter correct Lastname
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    Address<span class="text-danger">*</span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Address"
                      formControlName="address"
                      [class.is-valid]="Register.controls.address.valid"
                      [class.is-invalid]="
                        !Register.controls.address.valid && submitted
                      "
                    />
                    <div class="invalid-feedback">
                      Please Enter correct Address
                    </div>
                  </div>
                  <div class="form-group">
                    Mobile<span class="text-danger">*</span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Mobile"
                      formControlName="mobile"
                      [class.is-valid]="Register.controls.mobile.valid"
                      [class.is-invalid]="
                        !Register.controls.mobile.valid && submitted
                      "
                    />
                    <div class="invalid-feedback">
                      Please Enter correct Mobile
                    </div>
                  </div>
                  <div formGroupName="UserLogin">
                    <div class="form-group">
                      Email address<span class="text-danger">*</span>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Email Id"
                        formControlName="userEmail"
                        [class.is-valid]="
                          Register.controls.UserLogin.controls.userEmail.valid
                        "
                        [class.is-invalid]="
                          !Register.controls.UserLogin.controls.userEmail
                            .valid && submitted
                        "
                      />
                      <div class="valid-feedback"></div>
                      <div class="invalid-feedback">
                        Please Enter correct Email Id
                      </div>
                      <div></div>
                    </div>
                    <div class="form-group">
                      Password<span class="text-danger">*</span>
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Password"
                        formControlName="userPassword"
                        [class.is-valid]="
                          Register.controls.UserLogin.controls.userPassword
                            .valid
                        "
                        [class.is-invalid]="
                          !Register.controls.UserLogin.controls.userPassword
                            .valid && submitted
                        "
                      />
                      <div class="valid-feedback"></div>
                      <div class="invalid-feedback">
                        Please Enter correct Password
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input
                            type="checkbox"
                            class="form-check-input"
                            value="termscheck"
                            formControlName="termsAcceptCheck"
                            name="termscheck"
                            (change)="Termscheck($event)"
                          />
                          Accept Terms and Conditions
                        </label>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input
                            type="checkbox"
                            class="form-check-input"
                            value="subscribecheck"
                            formControlName="newsLetterCheck"
                            name="subscribecheck"
                            (change)="Subscribe($event)"
                          />
                          Subscribe to our newsletter
                        </label>
                      </div>
                    </div>
                  </div>

                  <button type="submit" class="aa-browse-btn">Register</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
