<div class="aa-myaccount-register">                 
        <h4>Register</h4>
        <form action="" class="aa-login-form">
            <label for="">First Name<span class="text-danger">*</span></label>
           <input type="text" placeholder="First Name">
           <label for="">Last Name<span class="text-danger">*</span></label>
           <input type="text" placeholder="Last Name">
           <label for="">Email address<span class="text-danger">*</span></label>
           <input type="text" placeholder="Username or email">
           <label for="">Password<span class="text-danger">*</span></label>
           <input type="password" placeholder="Password">
           <div class="form-check">
             <label class="form-check-label">
               <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
               Subscribe to our newsletter
             </label>
           </div>
           <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
                Accept Terms and Conditions
              </label>
            </div>
           
           <button type="submit" class="aa-browse-btn">Register</button>                    
         </form>
       </div>