<div class="container">
  <div class="row">
    <div class="offset-md-4 col-md-4 aa-myaccount-area">
      <div class="aa-myaccount-login">
        <h4>Reset Password</h4>
        <form
          class="aa-login-form"
          [formGroup]="ResetPassword"
          (ngSubmit)="Save(ResetPassword.value)"
        >
          <div formGroupName="UserLogin">
            <div class="form-group">
              Password<span class="text-danger">*</span>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                formControlName="userPassword"
                [class.is-valid]="
                  ResetPassword.controls.UserLogin.controls.userPassword.valid
                "
                [class.is-invalid]="
                  !ResetPassword.controls.UserLogin.controls.userPassword
                    .valid && submitted
                "
              />
              <div class="invalid-feedback">Please correct Password</div>
            </div>
          </div>
          <div class="text-left">
            <button type="submit" class="aa-browse-btn">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
